{% load static %}


<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/ebooks.css' %}" />
<body style ="background-color: #19885c;">
<div class="section-2">
    <a href="{% url 'home' %}">
        <img class="logo" src="{% static 'img/ayurveda design.png'%}" style="height:20%;width:3%;margin-left: 0.1%;border-radius: 100%;">
       </a>
    <h2>E-Books</h2>
    <div class="gallery">
        <div class="image-holder">
            <a href="https://static1.squarespace.com/static/54f737cfe4b02bda0d2c5234/t/54fcb27de4b08f27bc8b9fc4/1428506050737/Ch+1+-10+Everyday+Ayurveda+book.pdf"  target="_blank">
                <img src="{% static 'img/book1.jpg' %}" alt="img-1">
            </a>
        </div>
        <div class="image-holder">
            <a href = "https://drive.google.com/file/d/1Hr7QgmEANS3QSaAdfEmYzlTYhXfRc-80/view" target="_blank">
                <img src="{% static 'img/book2.jpg' %}"src=" https://m.media-amazon.com/images/I/81PKNZ6hOWL.jpg" alt="img-2" >
            </a>
        </div>

        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book3.webp' %}" alt="img-3">
            
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book4.jpg' %}" alt="img-4">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book5.webp' %}"alt="img-5">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book6.jpg' %}" alt="img-6">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book7.jpg' %}" alt="img-7">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book8.jpg' %}" alt="img-8">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book9.jpg' %}" alt="img-9">
            </a>
        </div>
        <div class="image-holder">
            <a href="#">
                <img src="{% static 'img/book10.jpg' %}" alt="img-10">
            </a>
        </div>

    </body>

    </html>

