.search_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background-color);
    padding: 15px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 28px;
    width: 35rem;

}

.search_input input {
    border: none;
    background-color: var(--twitter-background-color);
    outline: none;
    font-size: 1rem;
    width: 100%;


}

.cmt_follower_container {
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.title {
    margin-bottom: 2rem;
}

.profile {
    display: flex;
    text-decoration: none;
    margin-left: -4rem;
    align-items: center;
    margin-top: -1rem;
}

.info {
    margin-top: -3.3rem;
    color: rgb(32, 32, 32);
}

.username {
    font-size: 0.8rem;
    color: #333;
}

.follow-btn {
    width: 34%;
    background-color: #19885c;
    border: none;
    color: white;
    font-size: 0.9rem;
    border-radius: 30px;
    height: 36px;
    cursor: pointer;
    margin-top: -0.2rem;
    align-items: center;
    margin-left: 50%;
}


.aside_container h2 {
    font-size: 18px;
    font-weight: 800;
}

.wrapper-content aside.widgets .follow ul li .profile {
    display: flex;
    align-items: center;
}

.cmt-infollow {
    display: flex;
    flex: 50%;
}



.cmt_profile-image img {
    height: 9rem;
    border-radius: 32%;
    padding: 13.9px;
    margin-bottom: 0.5rem;
    width: 12rem;

}

.cmt-follow-div {
    width: 100%;
}


#edit-profile-form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;

}

#edit-profile-form {
    position: absolute;
    z-index: 10;
    top: 22%;
    left: 40%;
}


.save-profile-btn {
    text-align: center;
    font-size: 1rem;
    text-shadow: #1F2226;
    background-color: #19885c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 20px;
    width: 85px;
    height: 40px;
    font-weight: 600;
    margin-left: 1px;


}

.username-input
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #19885c;
    border-radius: 6px;
    
}

.bio-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #19885c;
    border-radius: 6px;
    font-size: 1rem;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}



.edit-image-btn:hover {
    background-color: rgb(10, 114, 72);
}


.edit-profile-form {
    background-color: #f5f8fa;

}


input[type="file"] {
    display: none;
}

.label-input {

    width: 120px;
    height: 40px;

}

.upload_file {
    text-align: center;
    text-shadow: #1F2226;
    background-color: #19885c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    margin-top: 12%;
    padding: 9px;
}

.cmt-profile-img {
    border-radius: 20%;
    height: 16vh;
    width: 18vh;
    margin: 8px;
    border: 2px solid #19885c;
}